* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'News Cycle', sans-serif;
}
/* scrolling */
#fp-nav ul li a span {
  background: gray;
}

/* horizontal scrolling */
.fp-slidesNav.fp-bottom {
  bottom: 17px;
  margin-left: 2rem !important;
}

.container-fluid {
margin:0 auto;
padding-left:0;
padding-right: 0;
}

/* ------------------------------------------------------------------- */
/* nav-bar */
.navColor {
  margin: 0;
  border: 0;
  padding-right: 0;
}

.logo {
  letter-spacing: 2rem;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to left, #87c7df, #648896) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fcf5b0, #ffffff);
  z-index: -1;
  padding-right: 15px;
  padding-left: 15px;
}
.p-3 {
  padding: 0 !important;
}

@media (min-width: 768px) .pr-md-4, .px-md-4 {
  padding-right: 0 !important;
}

/* ------------------------------------------------------------------- */
/* introduction page */
.intro{
margin:0 auto;
padding-left:4rem;
padding-right: 4rem;
}
.presentation-main {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 25px 10px;
  background: #f6cd61;
  -webkit-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
-moz-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
}
.intro-text {
  font-size: 100px;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-20%, -70%);
  z-index: 1;
  color: white;
}
.presentation {
  width: 100%;
  height: 60%;
  position: relative;
}
.hidden-intro {
  position: absolute;
  text-align: right;
  justify-content: right;
  top: 35%;
  right: 0;
  padding-right: 4rem;
  visibility: hidden;
}
.line {
  width: 35%;
  border: solid gray .5px;
  text-align: center;
  display: inline-block;
}
.baked {
  letter-spacing: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: lighter;
  
}
/* end introduction page */

/* ------------------------------------------------------------------- */

/* start nav bar and introduction page mobile */

@media screen and (max-width: 720px) {
  .container-fluid{
    padding: 40px !important;
  }
  /* introduction */
  .intro{
    height: 700px !important;
  }
  element.style {
    height: 680px !important;
  }
  .logo {
    letter-spacing: 1rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
    background: linear-gradient(to left, #87c7df, #648896) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .fp-tableCell {
    display: block;
    width: 100%;
    height: 100%;
  }
  .align-items-center {
    
    align-items: stretch !important;
  }
  .p-2{
    font-size: 16px;
    padding: 0 .5rem !important;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
    -moz-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
    box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
  }
  .nav{
    display:inline-flex;
    border: 0 !important;
    margin: 0 !important;
  }
  a:hover {
    text-decoration: none;
  }
  .presentation {
  width: 70% !important;
  height: 30% !important;
  }
  .presentation-main {
    display: flex;
    height: 2vh !important;
    justify-content: center;
    align-items: center;
}
.intro-text{
  display: none;
}
.intro-img {
  width: 250px !important;
  height: 150px !important;
  object-fit: cover;
  margin: 25px 0 !important;
  margin-left: 25px !important;
  background: #f6cd61;
  -webkit-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
-moz-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
}
.hidden-intro {
  position: absolute;
  text-align: right;
  justify-content: right;
  top: 400px !important;
  right: 0;
  padding-right: 3rem !important;
  visibility: show !important;
}
.baked{
  visibility: hidden !important;
}
.line {
  width: 85% !important;
}
.bake{
  font-size: 26px;
}
}
/* end nav bar and introduction page mobile*/

/* ------------------------------------------------------------------- */

/* about page */
.about {
  background: #FFFFFF;
}
.about{
margin:0 auto;
padding-left:4rem;
padding-right: 4rem;
}
.about-header-h {
  letter-spacing: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
/* .about-header{
  margin:0 auto:
} */
.about-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
.about-header-p {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.about-decade{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.img-bake {
  width: 30%;
  /* background: white;
  box-shadow: 0 0 15px 10px #ffffd2; */
  border: solid 10px white;
}
.img-bake20 {
  width: 30%;
  background: white;
  box-shadow: 0 0 15px 10px #ffffd2;
  /* border:solid 10px white; */
}
.img-bake20 {
  width: 40%;
}
.img-bake70-2 {
  width: 40%;
}
.img-bake70-3 {
  width: 30%;
}
.block70 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.block90 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.block20 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.about-img-box {
  height: 400px !important;
}
.about-description1 {
  margin-top: 1rem;
  text-align: justify;
}

/* end about page */

/* ------------------------------------------------------------------- */

/* start about page mobile*/


@media screen and (max-width: 720px) {
  
  .about {
    background: #FFFFFF;
    height: 1800px !important;
  }
  
  .about-img-box {
    height: auto !important;
  }
}

/* end about page mobile*/

/* ------------------------------------------------------------------- */

/* collection page */
.collection {
  background: #ffffff;
}
.collection{
margin:0 auto;
padding-left:4rem;
padding-right: 4rem;
}
.collection-header-h {
  letter-spacing: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
.collection-header-p {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.collection-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
.collection-weddings-brunch{
letter-spacing: .5rem;
}
/* slides */
.collection-slider .img-bakery-collection {
  display: none;
}
.collection-slider .img-bakery-collection.active1 {
  display: block;
  height: 60vh;
  width: 30vw;
  object-fit: cover;
  border: 2px solid white;
}
.img-bakery-collection {
  margin: auto;
  width: 50%;
  -webkit-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  -moz-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  
}
.collection-slider2 .img-bake-collection {
  display: none;
}
.collection-slider2 .img-bake-collection.active2 {
  display: block;
  height: 60vh;
  width: 30vw;
  object-fit: cover;
  border: 2px solid white;
}
.img-bake-collection {
  margin: auto;
  width: 50%;
  -webkit-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  -moz-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
}
.collection-block70 {
  text-align: center;
}
.button-collection-left {
  float: left;
}
.button-collection-right {
  float: right;
}
.button-collection-main {
  margin: 2rem auto;
}
.collection-button-right {
  padding-right: 6rem;
}
.collection-button-left {
  padding-left: 6rem;
}
/* end slides */
/* end collection page */

/* ------------------------------------------------------------------- */

/* start collection page mobile*/


@media screen and (max-width: 720px) {

  .collection{
    background:#ffffff;
    height: 1500px !important;
  }
  .collection-slider .img-bakery-collection.active1 {
    width: 80vw;
  }
  .img-bakery-collection {
    margin: auto;
  }
  .collection-slider2 .img-bake-collection.active2 {
    width: 80vw;
  }
  .img-bake-collection {
    margin: auto;
  }
  .img-bakery-collection {
    margin: auto;
    width: 50%;
    -webkit-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
  }
  .img-bake-collection {
    margin: auto;
    width: 50%;
    -webkit-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
  }
  .button-collection-left {
    float: left;
  }
  .button-collection-right {
    float: right;
  }
  .button-collection-main {
    margin: 3rem auto;
  }
  .collection-button-right {
    padding-right: 0;
  }
  .collection-button-left {
    padding-left: 0;
  }

}

/* end collection page mobile*/

/* ---------------------------------------------------------------- */

/* testimonial page */

.testimonials{
  background: linear-gradient(#ffffff, #f4f6ff);
}
.testimonial-header-h {
  letter-spacing: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
.testimonial-header-p {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.testimonial-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
/* .fp-section {
  padding:0;
} */
.testimonial-img{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
  padding: 5px;
 border: solid 3px #fcf5b0;
}
.testimonial-text{
  font-weight: 600;
  line-height: 1.5;
  padding: 6rem 0 0 0 !important;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.carousel-item{
  text-align: center;
}
.carousel-control-next-icon{
  /* background-color: #f9b384;
  -webkit-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
  -moz-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
  box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96); */
}
.carousel-control-next:hover{
  opacity: 0.6;
}
.carousel-control-prev-icon{
  /* background-color: #f9b384;
  -webkit-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
  -moz-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
  box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96); */
}
.carousel-control-prev:hover{
  opacity: 0.6;
}

.testimonials .fp-slides {
  height: 100% !important;
}
.img-arrow{
  width: 20px;
}

/* end testimonial page */

/* ------------------------------------------------------------------- */

/* start testimonial page mobile*/


@media screen and (max-width: 720px) {

  .testimonials{
    background: linear-gradient(#ffffff, #f4f6ff);
    height: 800px !important;
  }
  .testimonial-img{
    border-radius: 100%;
    width: 30% !important;
    margin: 30px !important;
  }
  .testimonial-text{
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    padding: 2rem 0 0 0 !important;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .carousel-control-next-icon{
    background-color: #f9b384;
    -webkit-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
    -moz-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
    box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
  }
  .carousel-control-next:hover{
    opacity: 0.6;
  }
  .carousel-control-prev-icon{
    color: #dbdbdb;
    background-color: #ffeecc;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
    box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
  }
  .carousel-control-prev:hover{
    opacity: 0.6;
  }
  
  .fp-slides {
    height: 100% !important;
  }
}

/* end testimonial page mobile*/

/* ------------------------------------------------------------------- */

/* recipe API */
.recipeApi{
  background: linear-gradient(#f4f6ff, #758184);
  z-index: -5;
  position: absolute;
}
.recipe-header-h {
  letter-spacing: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
.recipe-header-p {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.recipe-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
.searchInputRecipe{
border: 0;
padding: 3px 4px;
margin: 0;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.btnSearch{
  border: 0;
  color: #403D3B;
  font-weight: bolder;  
}
#content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.wrapper{
  display: flex;
  height: 65vh;
  width: 30vw;
  object-fit: cover;
}
.input-group{
max-width: 230px;
margin: 0 auto;
padding: .1px;
border-radius: 5px;
text-align: center;
justify-content: center;
-webkit-box-shadow: 5px 2px 191px 54px rgba(255, 255, 255, 1);
-moz-box-shadow: 5px 2px 191px 54px rgba(255, 255, 255, 1);
box-shadow: 5px 2px 191px 54px rgba(255, 255, 255, 1);
margin-bottom: 5%;
margin-top: 5%;
}
.recipeImgCake{
  width: 50rem;
  position: absolute;
  top: 15%;
  left: 30%;
  opacity: 0.2;
  z-index: -1;
  border-radius: 5%;
}

.recipeImgDessert1{
  width: 25rem;
  position: absolute;
  bottom: 0;
  right: 17%;
  opacity: 0.2;
  z-index: -5;
  border-radius: 5%;
}
.recipeImgDessert2{
  width: 25rem;
  position: absolute;
  top: 0;
  left: 20%;
  opacity: 0.2;
  z-index: -5;
  border-radius: 5%;
}
.footer-line{
  border: solid #f3c623 2px;
  -webkit-box-shadow: -1px 2px 8px 7px rgba(243,198,35,1);
  -moz-box-shadow: -1px 2px 8px 7px rgba(243,198,35,1);
  box-shadow: -1px 2px 8px 7px rgba(243,198,35,1);
  opacity: 0.6;
  position: fixed;
}
.footer-Logo{
  background-color: transparent;
  height: 36px;
  width: 40px;
  margin: 40px 50px;
}
.footer-logo-main{
  text-align: right;
  justify-content: right;
  display: inline-flex;
  height: 100px;
}
.map-text{
  line-height: 0.3;
  padding-top: 10px;
  margin: auto 0;
  font-size: 12px;
  display: block;
}
#map1 {
  height: 5rem;
  width: 10rem;
  border-radius: 5%;
}
.map-layout{
  padding-left: 4rem;
  text-align: left;
  margin: auto 0;
  display: block;
  display: inline-flex;
}
.map-main{
  margin-top: 20px;
}
.card {
  display: flex;
  height: 50vh !important;
  width: 30vw;
  object-fit: cover;
  border: 2px solid white;
  background-color: #f4ebc1;
}
.card:hover{
  -webkit-box-shadow: 0px 12px 21px 0px rgba(243,198,35,1);
  -moz-box-shadow: 0px 12px 21px 0px rgba(243,198,35,1);
  box-shadow: 0px 12px 21px 0px rgba(243,198,35,1);
}
.recipeApi .fp-tableCell {
  display: table-cell;
  vertical-align: middle !important;
  width: 100%;
  height: 10px !important;
}
.img-recipe-slide{
  width: auto;
  height: 150px;
  text-align: center;
  justify-content: center;
  object-fit: cover;
}
.recipeApi .fp-slides {
  height: 50% !important;
}
.carousel-item-api{
  margin-right: -85%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 0;
  height: 0;
  background: transparent;
}
/* end recipe API */
/* ------------------------------------------------------------------- */
/* recipe API mobile*/
@media screen and (max-width: 720px) {

  .recipeApi{
    height: 960px !important;
  }
  .map-layout{
    padding-left: 1rem;
    text-align: left;
    margin: auto 0;
  }
  .map-text{
    padding-left: 2rem;
  }
  .map-main{
    margin-top: 2rem;
  }
  .footer-Logo {
    background-color: transparent;
    height: 36px;
    width: 40px;
    margin: 40px auto;
  }
  .card {
    display: flex;
    height: 40vh !important;
    width: 40vw !important;
    object-fit: cover;
    border: 2px solid white;
    background-color: #f4ebc1;
  }
  .recipeApi .fp-tableCell {
    vertical-align: middle !important;
  }
  .carousel-item-api{
    margin-right: -50%;
  }
  .img-recipe-slide{
    width: auto;
    height: 70px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
  }
  .card-text{
    font-size: 12px;
    line-height: 1.2;
    margin: 5px;
  }
  .card-title-recipe{
    font-size: 16px;
    font-weight: bold;
  }
  .card-body-recipe{
    padding: .5rem;
  }

}