* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'News Cycle', sans-serif;
}
html{
  scroll-behavior: smooth;
}
#fp-nav ul li a span {
  background: gray;
}
.fp-slidesNav.fp-bottom {
  bottom: 17px;
  margin-left: 2rem !important;
}
.container-fluid {
margin:0 auto;
padding-left:0;
padding-right: 0;
}

/* ------------------------------------------------------------------- */
/* nav-bar */
.navColor {
  margin: 0;
  border: 0;
  padding-right: 0;
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 1;
}
.logo {
  letter-spacing: 2rem;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to left, #87c7df, #648896) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.nav-information{
  margin-right: 6.5rem;
  font-weight: bolder;
  border: solid 1px #fcf5b0;
  background-color: #fcf5b0;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-box-shadow: 0px 2px 5px 4px rgba(252,245,176,1);
-moz-box-shadow: 0px 2px 5px 4px rgba(252,245,176,1);
box-shadow: 0px 2px 5px 4px rgba(252,245,176,1);
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fcf5b0, #ffffff);
  z-index: -1;
  padding-right: 15px;
  padding-left: 15px;
}
.p-3 {
  padding: 1rem !important;
}
@media (min-width: 768px) .pr-md-4, .px-md-4 {
  padding-right: 0 !important;
}

/* ------------------------------------------------------------------- */
/* introduction page */
.intro{
margin:0 auto;
padding-left:4rem;
padding-right: 4rem;
}
.presentation-main {
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.intro-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  margin-top: 100px;
  margin-bottom: 40px;
  background: #f6cd61;
  -webkit-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
-moz-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
}
.presentation {
  width: 100%;
  position: relative;
}
.hidden-intro {
  position: absolute;
  text-align: right;
  justify-content: right;
  top: 35%;
  right: 0;
  padding-right: 4rem;
}
.line {
  width: 35%;
  border: solid gray .5px;
  text-align: center;
  display: inline-block;
}
.baked {
  letter-spacing: 1rem;
  font-size: 2rem;
  color: black;
  font-weight: lighter;
}
/* end introduction page */

/* ------------------------------------------------------------------- */

/* start nav bar and introduction page mobile */

@media screen and (max-width: 1000px) {
  .container-fluid{
    padding: 40px !important;
  }
  /* introduction */
  .intro{
    height: 700px !important;
  }
  .logo {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
    background: linear-gradient(to left, #87c7df, #648896) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .navColor {
    position: static; 
    padding: 0 !important;
  }
  .nav-information{
    margin-right: 0;
    font-weight: bolder;
    border: none;
    background-color:transparent;
    border-radius: 0;
    opacity: 0.8;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(245,245,245,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(245,245,245,1);
    box-shadow: 0px 0px 0px 0px rgba(245,245,245,1);
  }
  .fp-tableCell {
    display: block;
    width: 100%;
    height: 100%;
  }
  .align-items-center {
    align-items: stretch !important;
  }
  .p-2{
    font-size: 15px;
    padding: 0 .4rem !important;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
    -moz-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
    box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
  }
  .nav{
    display:inline-flex;
    border: 0 !important;
    margin: 0 !important;
  }
  a:hover {
    text-decoration: none;
  }
  .presentation {
  width: 70% !important;
  height: 30% !important;
  }
  .presentation-main {
    display: flex;
    height: 2vh !important;
    justify-content: center;
    align-items: center;
  }
  .intro-text{
    display: none;
  }
  .intro-img {
    width: 250px !important;
    height: 150px !important;
    object-fit: cover;
    margin: 25px 0 !important;
    margin-left: 25px !important;
    background: #f6cd61;
    top: 200px;
    -webkit-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
    -moz-box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
    box-shadow: 7px 7px 14px 0px rgba(231,166,26,0.93);
  }
  .hidden-intro {
    position: absolute;
    text-align: right;
    justify-content: right;
    top: 350px !important;
    right: 0;
    padding-right: 3rem !important;
  }
  .baked{
    visibility: hidden !important;
  }
  .line {
    width: 85% !important;
  }
  .bake{
    font-size: 1.3rem;
  }
}
/* end nav bar and introduction page mobile*/

/* ------------------------------------------------------------------- */

/* about page */

.about{
background: #FFFFFF;
margin:10% auto;
padding-left:4rem;
padding-right: 4rem;
height: 120vh;
}
.about-header-h {
  letter-spacing: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
.about-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
.about-header-p {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.about-decade{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: .5rem;
  font-weight: bold;
}
.img-bake {
  width: 200px;
  border: solid 10px white;
}
.img-bake20 {
  width: 200px;
  background: white;
  box-shadow: 0 0 15px 10px #ffffd2;
}
.img-bake20 {
  width: 200px;
}
.img-bake70-2 {
  width: 200px;
}
.img-bake70-3 {
  width: 180px;
}
.block70 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.block90 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.block20 {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.about-img-box {
  height: 400px !important;
}
.about-description1 {
  margin-top: 1rem;
  text-align: justify;
}

/* end about page */

/* ------------------------------------------------------------------- */

/* start about page mobile*/

@media screen and (min-width: 1400px) {
  
  .about {
    background: #FFFFFF;
    height: 100% !important;
  }
  .about-img-box {
    height: 400px !important;
  }
}
@media screen and (max-width: 1400px) {
  
  .about {
    background: #FFFFFF;
    height: 100% !important;
  }
  .img-bake {
    width: 150px;
    border: solid 10px white;
  }
  .img-bake20 {
    width: 150px;
    background: white;
    box-shadow: 0 0 15px 10px #ffffd2;
  }
  .img-bake20 {
    width: 150px;
  }
  .img-bake70-2 {
    width: 150px;
  }
  .img-bake70-3 {
    width: 130px;
  }
  .about-img-box {
    height: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  
  .about {
    background: #FFFFFF;
    height: 100% !important;
  }
  .img-bake {
    width: 150px;
    border: solid 10px white;
  }
  .img-bake20 {
    width: 150px;
    background: white;
    box-shadow: 0 0 15px 10px #ffffd2;
  }
  .img-bake20 {
    width: 150px;
  }
  .img-bake70-2 {
    width: 150px;
  }
  .img-bake70-3 {
    width: 130px;
  }
  .about-img-box {
    height: 200px !important;
  }
}
@media screen and (max-width: 840px) {
  
  .about {
    background: #FFFFFF;
    height: 100% !important;
  }
  .about-img-box {
    height: 210px !important;
  }
}
@media screen and (max-width: 500px) {
  
  .about {
    background: #FFFFFF;
    height: 100% !important;
  }
  .about-img-box {
    height: auto !important;
  }
}

/* end about page mobile*/

/* ------------------------------------------------------------------- */

/* collection page */
.collection{
  margin:0 auto;
  padding-left:4rem;
  padding-right: 4rem;
  background: #ffffff;
  height: 110vh;
}
.collection-header-h {
  letter-spacing: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
.collection-header-p {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.collection-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
.collection-slideCollection-header{
  letter-spacing: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.collection-weddings-brunch{
letter-spacing: .5rem;
}
/* slides */
.collection-slider .img-bakery-collection {
  display: none;
}
.collection-slider .img-bakery-collection.active1 {
  display: block;
  height: 60vh;
  width: 30vw;
  object-fit: cover;
  border: 2px solid white;
}
.img-bakery-collection {
  margin: auto;
  width: 50%;
  -webkit-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  -moz-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  
}
.collection-slider2 .img-bake-collection {
  display: none;
}
.collection-slider2 .img-bake-collection.active2 {
  display: block;
  height: 60vh;
  width: 30vw;
  object-fit: cover;
  border: 2px solid white;
}
.img-bake-collection {
  margin: auto;
  width: 50%;
  -webkit-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  -moz-box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
  box-shadow: -1px 0px 113px -10px rgba(136,136,136,1);
}
.collection-block70 {
  text-align: center;
}
.button-collection-left {
  float: left;
}
.button-collection-right {
  float: right;
}
.button-collection-main {
  margin: 2rem auto;
}
.collection-button-right {
  padding-right: 6rem;
}
.collection-button-left {
  padding-left: 6rem;
}
/* end slides */
/* end collection page */

/* ------------------------------------------------------------------- */

/* start collection page mobile*/


@media screen and (max-width: 992px) {

  .collection{
    background:#ffffff;
    height: 100% !important;
  }
  .collection-slider .img-bakery-collection.active1 {
    width: 80vw;
  }
  .img-bakery-collection {
    margin: auto;
  }
  .collection-slider2 .img-bake-collection.active2 {
    width: 80vw;
  }
  .img-bake-collection {
    margin: auto;
  }
  .img-bakery-collection {
    margin: auto;
    width: 50%;
    -webkit-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
  }
  .img-bake-collection {
    margin: auto;
    width: 50%;
    -webkit-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
  }
  .button-collection-left {
    float: left;
  }
  .button-collection-right {
    float: right;
  }
  .button-collection-main {
    margin: 3rem auto;
  }
  .collection-button-right {
    padding-right: 0;
  }
  .collection-button-left {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {

  .collection{
    background:#ffffff;
    height: 100% !important;
  }
  .collection-slider .img-bakery-collection.active1 {
    width: 80vw;
  }
  .img-bakery-collection {
    margin: auto;
  }
  .collection-slider2 .img-bake-collection.active2 {
    width: 80vw;
  }
  .img-bake-collection {
    margin: auto;
  }
  .img-bakery-collection {
    margin: auto;
    width: 50%;
    -webkit-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
  }
  .img-bake-collection {
    margin: auto;
    width: 50%;
    -webkit-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 30px 9px rgba(0,0,0,0.31);
  }
  .button-collection-left {
    float: left;
  }
  .button-collection-right {
    float: right;
  }
  .button-collection-main {
    margin: 3rem auto;
  }
  .collection-button-right {
    padding-right: 0;
  }
  .collection-button-left {
    padding-left: 0;
  }
}
/* end collection page mobile*/

/* ---------------------------------------------------------------- */

/* testimonial page */

.testimonials{
  background: linear-gradient(#ffffff, #f4f6ff);
  height: 100vh;
}
.testimonial-header-h {
  letter-spacing: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
.testimonial-header-p {
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.testimonial-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
.testimonials-background{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
  opacity: .5;
  width: 300px;
}
.testimonial-img{
  border-radius: 100%;
  width: 150px;
  margin: 20px;
  padding: 5px;
  border: solid 3px #fcf5b0;
}
.testimonial-text{
  font-weight: lighter;
  line-height: 1.5;
  font-size: 1.1rem;
  font-style: italic;
  padding: 6rem 0 0 0 !important;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.carousel-item{
  text-align: center;
}
.carousel-control-next:hover{
  opacity: 0.6;
}
.carousel-control-next{
  z-index: 0;
}
.carousel-control-prev:hover{
  opacity: 0.6;
}

.testimonials .fp-slides {
  height: 100% !important;
}
.img-arrow{
  width: 20px;
}

/* end testimonial page */

/* ------------------------------------------------------------------- */

/* start testimonial page mobile*/


@media screen and (max-width: 1000px) {

  .testimonials{
    background: linear-gradient(#ffffff, #f4f6ff);
    height: 120% !important;
  }

  .testimonial-header-h {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    color: black;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1rem;
    z-index: 1;
    position: relative;
  }
  .testimonial-header-p {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    z-index: 1;
    position: relative;
  }
  .testimonial-line {
    width: 35%;
    border: solid gray .5px;
    margin: auto;
    z-index: 1;
    position: relative;
  }
  .testimonial-img{
    width: 120px;
  }
  .testimonial-text{
    font-weight: 400;
    font-size: 1.1rem !important;
    line-height: 1.5;
    padding: 2rem 0 0 0 !important;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .carousel-control-next-icon{
    background-color: #f9b384;
    -webkit-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
    -moz-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
    box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
  }
  .carousel-control-next:hover{
    opacity: 0.6;
  }
  .carousel-control-prev-icon{
    color: #dbdbdb;
    background-color: #f9b384;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
    box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
  }
  .carousel-control-prev:hover{
    opacity: 0.6;
  }
  
  .fp-slides {
    height: 100% !important;
  }
}

/* end testimonial page mobile*/

/* ------------------------------------------------------------------- */

/* recipe API */
.recipeApi{
  background: linear-gradient(#f4f6ff, #758184);
  z-index: -5;
  position: absolute;
  height: 100vh;
  overflow: hidden;
}
.recipe-header-h {
  letter-spacing: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1rem;
}
.recipe-header-p {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.recipe-line {
  width: 35%;
  border: solid gray .5px;
  margin: auto;
}
.searchInputRecipe{
border: 0;
padding: 3px 4px;
margin: 0;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.btnSearch{
  border: 0;
  color: #403D3B;
  font-weight: bolder;  
}
#content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.wrapper{
  display: flex;
  height: 65vh;
  width: 30vw;
  object-fit: cover;
}
.input-group{
max-width: 230px;
margin: 0 auto;
padding: .1px;
border-radius: 5px;
text-align: center;
justify-content: center;
-webkit-box-shadow: 5px 2px 191px 54px rgba(255, 255, 255, 1);
-moz-box-shadow: 5px 2px 191px 54px rgba(255, 255, 255, 1);
box-shadow: 5px 2px 191px 54px rgba(255, 255, 255, 1);
margin-bottom: 5%;
margin-top: 5%;
}
.recipeImgCake{
  width: 50rem;
  position: absolute;
  top: 15%;
  left: 30%;
  opacity: 0.2;
  z-index: -1;
  border-radius: 5%;
}

.recipeImgDessert1{
  width: 25rem;
  position: absolute;
  bottom: 0;
  right: 17%;
  opacity: 0.2;
  z-index: -5;
  border-radius: 5%;
}
.recipeImgDessert2{
  width: 25rem;
  position: absolute;
  top: 0;
  left: 20%;
  opacity: 0.2;
  z-index: -5;
  border-radius: 5%;
}
.footer-Logo{
  background-color: transparent;
  height: 36px;
  width: 40px;
  margin: 40px 40px;
}
.footer-logo-main{
  text-align: right;
  justify-content: right;
  display: inline-flex;
}
.map-text{
  line-height: 0.3;
  padding-top: 10px;
  margin: auto 0;
  font-size: 12px;
  display: block;
}
#map1 {
  height: 5rem;
  width: 10rem;
  border-radius: 5%;
}
.map-layout{
  padding-left: 2rem;
  text-align: left;
  margin: auto 0;
  display: inline-flex;
}
.map-main{
  margin-top: 20px;
  overflow: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 3rem;
}
.card {
  display: flex;
  height: 50vh !important;
  width: 30vw;
  object-fit: cover;
  border: 2px solid white;
  background-color: #f4ebc1;
}
.card:hover{
  -webkit-box-shadow: 0px 12px 21px 0px rgba(243,198,35,1);
  -moz-box-shadow: 0px 12px 21px 0px rgba(243,198,35,1);
  box-shadow: 0px 12px 21px 0px rgba(243,198,35,1);
}
.recipeApi .fp-tableCell {
  display: table-cell;
  vertical-align: middle !important;
  width: 100%;
  height: 10px !important;
}
.img-recipe-slide{
  width: auto;
  height: 150px;
  text-align: center;
  justify-content: center;
  object-fit: cover;
}
.recipeApi .fp-slides {
  height: 50% !important;
}
.carousel-item-api{
  margin-right: -85%;
  margin-right: -85%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 0;
  height: 0;
  background: transparent;
}
.carousel-inner img {
  object-fit: cover;
}
.carousel-inner {
  text-align: center;
}
.fp-slidesContainer{
  text-align: center;
}
/* end recipe API */
/* ------------------------------------------------------------------- */
/* recipe API mobile*/
@media screen and (max-width: 720px) {

  .recipeApi{
    height: 127% !important;
    overflow: hidden;
  }
  .map-layout{
    padding-left: 3rem;
    text-align: left;
    margin: auto 0;
  }

  #map1 {
    height: 4rem;
    width: 10rem;
    border-radius: 5%;
  }
  .map-text{
    padding-left: 1rem;
  }
  .map-main{
    margin-top: 2rem;
    padding-left: 0;
  }
  .footer-Logo {
    background-color: transparent;
    height: 36px;
    width: 40px;
    margin: 12.5px 12.5px 12.5px 12.5px;
  }
  .footer-logo-main{
    text-align: center;
    display: block;
  }
  .card {
    display: flex;
    height: 50vh !important;
    width: 40vw !important;
    object-fit: cover;
    border: 2px solid white;
    background-color: #f4ebc1;
  }
  .recipeApi .fp-tableCell {
    vertical-align: middle !important;
  }
  .carousel-item-api{
    margin-right: -50%;
  }
  .img-recipe-slide{
    width: auto;
    height: 70px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
  }
  .card-text{
    font-size: 12px;
    line-height: 1.2;
    margin: 5px;
  }
  .card-title-recipe{
    font-size: 16px;
    font-weight: bold;
  }
  .card-body-recipe{
    padding: .5rem;
  }
  .recipeApi .carousel-control-next-icon{
    color: #dbdbdb;
    background-color: #f9b384;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
    box-shadow: 0px 0px 24px -1px rgba(231,166,26,1);
  }
  .recipeApi .carousel-control-prev-icon{
    
    background-color: #f9b384;
    -webkit-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
    -moz-box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
    box-shadow: 0px 7px 191px 130px rgba(231,166,26,0.96);
  }

}

/* ------------------------------------------------------------------------------------------- */



/* contact page */

/* nav bar    */
.contact-navColor {
  margin: 0;
  border: 0;
  padding-right: 0;
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 1;
  margin-left: 3rem;
}
.contact-logo {
  letter-spacing: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to left, #87c7df, #648896) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.contact-nav-information{
  margin-right: 6.5rem;
  font-weight: bolder;
  border: solid 1px #fcf5b0;
  background-color: #fcf5b0;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-box-shadow: 0px 2px 5px 4px rgba(252,245,176,1);
-moz-box-shadow: 0px 2px 5px 4px rgba(252,245,176,1);
box-shadow: 0px 2px 5px 4px rgba(252,245,176,1);
}

/* end nav bar

/* ----------------------------------------------------------- */

.contact{
  height: 100vh;
  margin: auto;
  padding-top: 10%;
  position: relative;
}
.contact-header{
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
label, .inputs, textarea{
  width: 80%;
  margin: 0 auto;
}
.inputs, textarea{
  border: 0;
}
.contact-main .name{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
textarea{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
label{
  text-align: left;
  padding-left: 10px;
}
.contact-main{
  justify-content: center;
  text-align: center;
  border: solid 3px #fcf5b0;
  background-color: #d4d7dd;
  border-radius: 10px;
  opacity: .6;
  -webkit-box-shadow: inset -1px -1px 19px 19px rgba(255,255,255,1);
  -moz-box-shadow: inset -1px -1px 19px 19px rgba(255,255,255,1);
  box-shadow: inset -1px -1px 19px 19px rgba(255,255,255,1);
}
.form-main{
  margin-top: 3rem;
  padding-bottom: 2rem;
}
.contact-img {
  width: 300px;
  position: absolute;
  object-fit: cover;
  top: 90px;
  left: -30px;
  opacity: .6;
}
.contact-text p{
  text-align: justify;
  font-size: 18px;
}
.contact-img1 {
  width: 300px;
  position: absolute;
  object-fit: cover;
  bottom: 350px;
  right: 150px;
  z-index: -5;
  opacity: .6;
  -webkit-box-shadow: 0px 0px 14px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 9px rgba(0,0,0,0.75);
}
.contact-img2 {
  width: 300px;
  position: absolute;
  object-fit: cover;
  bottom: 180px;
  right: 50px;
  z-index: -1;
  opacity: .4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 14px 9px rgba(212,215,221,1);
  -moz-box-shadow: 0px 0px 14px 9px rgba(212,215,221,1);
  box-shadow: 0px 0px 14px 9px rgba(212,215,221,1);
}
.contact-img3 {
  width: 300px;
  position: absolute;
  object-fit: cover;
  bottom: 10px;
  right: 250px;
  z-index: -3;
  opacity: .4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 14px 9px rgba(212,215,221,1);
  -moz-box-shadow: 0px 0px 14px 9px rgba(212,215,221,1);
  box-shadow: 0px 0px 14px 9px rgba(212,215,221,1);
}
.contact-footer-logo-main{
  max-width: 50%;
}

/* ----------------------------------------------------------- */

/* contact page - mobile */

@media screen and (max-width: 1000px) {

  .contact-logo {
    letter-spacing: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .5rem !important;
    /* margin-bottom: 1.5rem !important; */
    background: linear-gradient(to left, #87c7df, #648896) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .contact-navColor {
    position: relative; 
    margin-left: 0;
  }
  .contact-nav-information{
    margin-right: 0;
    font-weight: bolder;
    border: none;
    background-color:transparent;
    border-radius: 0;
    opacity: 0.8;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(245,245,245,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(245,245,245,1);
    box-shadow: 0px 0px 0px 0px rgba(245,245,245,1);
  }
  .contact{
    height: 100%;
    padding-top: 0 !important;
    width: 100%;
  }
  .contact-header{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .contact-text-description{
    display: none;
  }
  .contact-img2, .contact-img3{
    display: none;
  }
  .contact-text3{
    margin-top: 10px;
    font-size: 16px !important;
  }
  .contact-img {
    width: 250px !important;
    position: absolute;
    object-fit: cover;
    top: 300px;
    left: 70px;
    opacity: .5;
  }

  .contact-footer-logo-main {
    text-align: center;
    display: inline-flex;
}

}